%form{:method => :post}  
  %table
    %tr
      %td
        Was 
      %td
        %textarea{:name => :message}  
      %td
        Projekt 
      %td
        %input{:name => :project}  
      %td
        Dauer 
      %td
        %input{:name => :duration}  
      %td
        Datum 
      %td
        %input{:name => :date, :value => default_date}  
      %td
        %input{:type => :submit, :method => :Shout}
