%tr
    %td{:class => "maintable"} 
        - if latest_date != item.date
            = item.date
    %td{:class => "maintable"}= item.message
    %td{:class => "maintable"}= item.project
    %td{:class => "maintable"}= item.duration

- latest_date = item.date
