%h2 Items
%table
  - for item in @tritems
    != haml(:_oneItem, :layout => false, :locals => {:item => item})

%form{:method => :post}  
  Was 
  %textarea{:name => :message}  
  %br/
  Projekt 
  %input{:name => :project}  
  %br/
  Dauer 
  %input{:name => :duration}  
  %br/
  Datum 
  %input{:name => :date}  
  %br/
  %input{:type => :submit, :method => :Shout}
