%h2 Items
%table
    %tr
        %th{:class => "maintable"} Datum
        %th{:class => "maintable"} Beschreibung
        %th{:class => "maintable"} Projekt
        %th{:class => "maintable"} Dauer
    - latest_date = "xx"
    - for item in @tritems
        != haml(:_oneItem, :layout => false, :locals => {:item => item, :latest_date => latest_date})
        - latest_date = item.date

%hr

!= haml :_input_form, :layout => false, :locals => {:default_date => date_to_str(Time.now)}


!= haml :_debug_garbage, :layout => false


