%h2 Items
%table
  - latest_date = "xx"
  - for item in @tritems
    != haml(:_oneItem, :layout => false, :locals => {:item => item, :latest_date => latest_date})
    - latest_date = item.date

!= haml :_input_form, :layout => false

%ul
  - for project in @projects
    %li=project
